<div class="flex">

    <div class="flex flex-col bg-neutral-400">
        <button class="p-2 bg-neutral-600 m-1"
                (click)="toggleAnim()">toggleAnim</button>
        <div class="bg-neutral-600">
            <input #spotlightY
                   type="range"
                   min="0"
                   max="10"
                   step="0.1"
                   (input)="moveSpotlight(+spotlightY.value)">


        </div>

        <button class="p-2 bg-neutral-600 m-1 rounded-full"
                (click)="openModal(addHullModal, {title: 'test'})">Select Hull</button>

        <!-- if hull was added -->
        <div>
            <button class="p-2 bg-neutral-600 m-1 rounded-full">Add Engine</button>

        </div>

        <!-- side engines position -->
        <div>
            <button class="p-2 bg-neutral-600"
                    (click)="addSideEngines()">Add Side Engines</button>
            <p>side engine position</p>
            <label [for]="sideEngineY">Y pos</label>
            <input #sideEngineY
                   type="range"
                   min="-1"
                   max="1"
                   step="0.1"
                   (input)="moveSideEngine(+sideEngineY.value, 0)">

            <label [for]="sideEngineZ">Z pos</label>
            <input #sideEngineZ
                   type="range"
                   min="-1"
                   max="1"
                   step="0.1"
                   (input)="moveSideEngine(0, +sideEngineZ.value)">
        </div>
    </div>
    <!-- renderer window -->
    <engine></engine>

</div>

<ng-template #addHullModal>
    <div class="range-input">
        <div>
            <p>select hull:</p>

            <!-- list of hulls -->
            <div class="flex">
                @for(hull of hulls; track hull){
                <div class="bg-neutral-600 p-2 m-2 cursor-pointer rounded-full"
                     (click)="selectHull(hull)"
                     [ngClass]="{'part-selected': isHullSelected(hull)}">
                    {{hull.name}}
                </div>
                }
            </div>

            <button class="bg-neutral-600 p-2"
                    (click)="addHull()">add hull</button>
        </div>


    </div>
</ng-template>
